IDI_ICON1	ICON	DISCARDABLE	"AnimeRenderfarm.ico"

1 VERSIONINFO
BEGIN
  BLOCK "StringFileInfo"
  BEGIN
    BLOCK "FFFF0000"
    BEGIN
      VALUE "ProductName", "Anime Renderfarm"
      VALUE "CompanyName", "Batty Bovine Productions, LLC"
      VALUE "ProductVersion", "0.1"
      VALUE "LegalCopyright", "© 2011 Batty Bovine Productions, LLC. Some Rights Reserved."
    END
  END
  BLOCK "VarFileInfo"
  BEGIN
    VALUE "Translation", 0xFFFF, 0x0000
  END
END
